<section id="pediatria-neonatologia" class="seccion">
  <div class="contenedor">
    <h2>Pediatría y Neonatología</h2>
    <p>
      Especialista certificado en Pediatría y en Neonatología, con formación
      complementaria en:
    </p>
    <ul>
      <li>Ultrasonido transfontanelar</li>
      <li>Ultrasonido pulmonar</li>
      <li>Nutrición neonatal</li>
      <li>Colocación y uso de óxido nítrico</li>
      <li>Cuidados intensivos</li>
    </ul>
  </div>
</section>
